.arrow{
	width: 20%;
	opacity: 0;
	&--enable{
		opacity: 1;
	}
}

.arrows-container{
	margin-top:42vh;
	width: 100%;
	z-index: 1;
	position: absolute;
	&__left{
		left: 0;
	}
	&__right{
    right: 0;
	}

}








