.dots{
	list-style-type: none;
	&__style{
		width: 10px;
		height: 10px;
		border: 10px;
		margin-left: 10px;
		cursor: pointer;
	}
	&--selected{
		color:red;
		transform: scale(1.5)
	}
}

.dots-list{
	position: absolute;
	z-index: 1;
	bottom: 0;
	margin-left: 45vw;
}
