.body{
	background-color: orange;
	
}

.body__text{
	font-size: 50px;
	text-align: center;
	height: 200px;
	position: absolute;
	&:hover{
		color: $color;
	}
}

.option{
	margin-top: 50vh;
	&__navegation{
		font-size: 40px;
		&:hover{
			color: $color;
		}
	}
}
