.filter{
	top: 0;
	height: 8vh;
	display: flex;
	align-items: center;
	justify-content: center;
	&__list{
		display: flex;
		align-items: center;
		justify-content: center;
		&__element{
			margin-left: 10px;
			border-radius: 8px;
			font-size: 20px;
			color: white;
			background-color: orange;
			width: 100px;
			cursor: pointer;
			&--selected {
				color: black;
				font-weight: bold;
			}
		}
	}
}
